
:root{
    --firstColor: #ff7c36;
    --secondColor: rgb(63, 11, 11);
  }
  
  body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  li{
    list-style-type: none;
  }
  .st{
    display: flex;
    justify-content: space-between;
  }
  .navbar {
    background: var(--secondColor);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar-links a {
    transition: transform 0.3s ease; 
    color: #FFF; 
    transition: color 0.3s ease;
  }
  .navbar-links a.active {
    color: var(--firstColor); 
  }
  .navbar-links a:hover {
    transform: translateY(-3px);
    color: var(--firstColor); 
  }
  .navbar-toggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
  }
  
  .navbar-toggle span {
    background: #FFF;
    height: 3px;
    width: 100%;
    transition: all 0.3s ease;
  }
  
  .navbar-links {
    display: none;
    list-style: none;
  }
  
  .navbar-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar-links li {
    margin: 10px 0;
  }
  body{
    background: var(--secondColor);
    overflow-x: hidden;
    font-family: 'Rubik Regular';
  }
  @keyframes pButton {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .button{
    animation: pButton 1s infinite;
    background: none;
    border: 2px solid var(--firstColor);
    color: var(--firstColor);
    padding: 6px 12px;
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
    display: inline-block;
    font-size: 1em;
  }
  .button:hover{
    color: #222;
    background: var(--firstColor);
  }
  input,textarea{
    background: rgba(255,255,255,0.05);
    padding: 10px 16px;
    border-radius: 10px;
    border: 2px solid #ff0095;
    color: #f2f2f2;
    font-size: 1em;
  }
  
  @font-face {
    font-family: 'Rubik Regular';
    src: url("assets/fonts/Rubik-Regular.ttf") format("ttf"),
  }
  h1,h2,h3,h4{
    color: #DDDBFF;
    font-weight: normal;
    line-height: 1.4em;
  }
  p,a,li{
    color: #b8b8b8;
    font-weight: bolder;
    line-height: 1.4em;
    font-size: 1em;
  }
  .ad{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    padding-left: 30px;
    border-bottom: 3px solid var(--firstColor);
  
  }
  @keyframes dissapear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  h1 {
    animation: dissapear 1s ease; 
  }
  h1, h3{
    font-size: 1.2em;
  }
  h2{
    font-size: 1.6em;
  }
  h4{
    font-size: 1.1em;
  }
  .pOne{
    font-size: 1.1em;
  }
  
  .gridOne{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    box-sizing: border-box;
  }
  #first{
    align-items: center;
    padding: 0 20px 20px 20px;
  }
  .first-text{
    transition: margin 0.3s ease;
    grid-column: 1/6;
  }
  .first-text:hover {
    margin-bottom: 30px; 
  }
  
  .first-text a{
    margin: 20px 0;
  }
  .first-img{
    grid-column: 6/9;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
  }
  .first-img img{
    width: 100%;
  }
  #bio{
    background: url(assets/square.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    filter: brightness(70%);
    padding: 30px 20px;
  }
  #bio h3{
    color: #ffffff;
    margin-bottom: 0;
    font-weight: bolder;
    text-align: center;
  }
  .projectsOne{
    margin: 20px 0;
  }
  .projectsOne a{
    grid-column: 1/9;
    display: flex;
    margin: 20px 0
  }
  .projectsOne a *{
    margin: 0 20px;
    max-width: 40%;
    align-self: center;
  }
  .projectsOne a img {
    transition: transform 0.3s ease; 
  }
  .projectsOne a img:hover {
    transform: scale(1.05); 
  }
  .projectsOne h4{
    color: #ffffff;
    font-weight: bolder;
  }
  #skillsOne{
    padding: 30px 20px;
    background: rgb(63, 11, 11);
  }
  #skillsOne h3{
    text-align: center;
    color: #b8b8b8;
    font-weight: bolder;
  }
  #skillsOne ul{
    margin: 40px 0;
  }
  #skillsOne li{
    padding: 10px;
    background: rgba(0,0,0,0.2);
    grid-column: span 4;
    text-align: center;
  }
  #skillsOne img{
    height: 80px;
    margin: 10px auto;
  }
  #skillsOne p{
    text-align: center;
    margin: 0 20px;
    color: #b8b8b8;
    font-weight: bolder;
  }
  #contactOne{
    padding: 30px 20px;
    background: rgb(71, 27, 27);
  }
  #contactOne h3, #contactOne p{
    margin-bottom: 0;
    text-align: center;
  }
  #contactOne form{
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
  }
  #contactOne input,#contactOne textarea{
    width: 100%;
    margin: 10px 0;
  }
  #contactOne textarea{
    max-width: 100%;
    height: 200px;
  }
  #contactOne .button{
    margin-top: 10px;
  }
  .gender-selection {
    color: white;
  }
  
  .gender-selection label {
    display: inline-block;
    margin-right: 10px; 
  }
  
  .gender-selection input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer; 
  }
  footer{
    padding: 30px 20px;
    background-color: rgb(86, 1, 1);
    transition: background-color 0.5s ease;
  }
  footer:hover {
    background-color: var(--firstColor); 
  }
  footer .copyright{
    grid-column: 1/3;
    font-size: 0.8em;
  }
  footer .social{
    grid-column: 7/9;
    display: flex;
    justify-content: flex-end;
  }
  footer li{
    margin: 0 6px;
  }
  footer img{
    width: 20px;
  }
  @media screen and (min-width: 620px){
    .navbar {
      justify-content: none;
      align-items: start;
      padding: 20px 40px;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .navbar-links {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  
    .navbar-links li {
      margin: 0 15px;
    }
    .first-text{
      grid-column: 1/5;
    }
    .first-img{
      grid-column: 5/9;
    }
    .first-img img{
      width: 100%;
    }
    .projectsOne{
      margin-top: 40px;
    }
    .projectsOne a{
      grid-column: span 4;
      display: block;
      margin: 20px 0;
    }
    .projectsOne a:last-child{
      grid-column: 3/7;
    }
    .projectsOne a *{
      margin: 10px;
      max-width: 60%;
      margin: 10px 20%;
    }
    .projectsOne h4{
      text-align: center;
    }
    #skillsOne{
      padding: 30px 100px;
    }
    footer{
      background-size: 20%;
    }
  
  }